<div *ngIf="pokemon" class="catch-view">
  <div>
    <div class="catch-view__box margin-b-0">
      <div class="catch-view__pokemon-name margin-t-0 margin-l-0">{{ pokemon.name }}</div>

      <div *ngIf="isValid;else other_content">
          content here ...
      </div>

      
      <div class="catch-view__pokemon-image">
      <img src="/assets/images/pokeball.png" *ngIf="isCatching else wildPokemon">
      <ng-template #wildPokemon>
        <img src="{{ pokemon.imageURI }}">
      </ng-template>
      </div>

      <div class="catch-view__pokemon-trainer-image">
        <img src="/assets/images/old-man.png">
      </div>
    </div>

    <div class="catch-view__actions d-flex-r d-flex-j-sa">
      <button (click)="startCatch(pokemon)">Atrapar</button>

      <a routerLink="/myPokemons">Mis Pokemones</a>
    </div>
  </div>
</div>
